.search-header {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.search-logo {
  font-weight: bold;
  font-size: 2rem;
}

.search-title {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: #222;
}

hr {
  margin: 0 0 2rem 0;
  border: none;
  border-top: 2px solid #ccc;
}

.search-bar-container {
  display: flex;
  align-items: center;
  margin: 3rem 0 2rem 0;
  max-width: 700px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 0.5rem;
}

.search-filter {
  border: none;
  background: transparent;
  font-size: 1.2rem;
  width: 100px;
  margin-right: 1rem;
  outline: none;
}

.search-input {
  border: none;
  background: transparent;
  font-size: 1.2rem;
  flex: 1;
  outline: none;
}

.search-count {
  margin-top: 4rem;
  text-align: center;
  color: #444;
  font-size: 1.3rem;
}
